body {
    background-color: rgb(190, 190, 178);
    padding: 0 26% 0 26%;
}

div {
    margin: 20px 0 0 0;
    background-color: rgb(226, 233, 236);
    padding: 5px 20px 5px 20px;
}

section div:nth-child(4) {
    padding-bottom: 35px;
}

ul {
    padding: 0 0 0 18px;
}

.woods {
    border-radius: 0 35px 35px 35px;
    border: 5px solid rgb(66, 65, 65);
}

img.tools {
    border-radius: 0 35px 35px 35px;
    border: 5px solid rgb(47, 88, 121);
    padding: 0%;
}

a[href*="woods.html"] {
    text-decoration: none;
    font-weight: bold;
    color: rgb(83, 5, 5);
}